.home-container {
    .invisible {
        display: none;
       }
    .visible {
    display: flex;
    }
    
}



.program-container {
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        margin-top: 5rem;
        display: absolute;
        left: 50%;
        right: auto;
        text-align: center;

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: clamp(40px, 2vw, 80px);
        line-height: 60px;
    }
    .program-container_content {
        margin-bottom: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        li {
            padding: 30px;
            list-style-type: none;
        }
        p {
            padding: 1rem;
            font-family: var(--font-family);
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 34px;
        }
    }

}

@media screen and (max-width: 850px) {
    .program-container {
        .program-container_content {
            flex-direction: column;

            li {
                padding: 20px 0;
                margin: 0rem;
            }
        }
    }
    
}