.pm__team-card {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    p {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}

.pm__team-card_image {
    position: relative;
    .linkText {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        z-index:5;
        position: absolute;
        top: 40%;
        left: 40px;
        opacity: 0;
        color: white;
        text-shadow: 2px 3px 5px rgb(46, 46, 46) ;
        
    }
    img, .linkText {
        transition: .3s all;
    }
    img {
        position: relative;
        margin: 0.5rem;
        width: 280px;
        height: 350px;
        object-fit: cover;
        align-items: center;
        // border-radius: 20px;

        
    }
    &:hover {
        .linkText {
            opacity: 1;
        }
        img {
            transform: scale(1.1);
            filter: drop-shadow(4px 4px 7px black);
            // -webkit-filter: blur(4px);
            // filter: blur(4px);
        }
       

    }
}