.section_margin {
    margin: 0 0;
}
.pm__summary {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #B7D7F4;
    
}

.pm__summary-feature {
    display: flex;
}

.pm__summary-feature .pm_summary-container {
    margin: 0;
}

.pm__summary-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-left: clamp(0%, 20%, 30%);
    padding-right: clamp(0%, 20%, 30%);
    h1 {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        max-width: (30%, 40%, 100%);
        line-height: 60px;
        text-align: center;
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        line-height: 30px;
        font-size: 20px;
        max-width: 20%;
        color: black;
        cursor: pointer;
    }
}

.pm__summary-container {
    flex: 1;
    margin-top: 3rem;
    display: unset;
    flex-direction: column;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    .pm__summary-list {
        margin-left: clamp(0%, 10%, 80%);
        margin-right: clamp(0%, 10%, 80%);
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        ul{
            max-width: 40%;
        }
    }
    
}

@media screen and (max-width: 850px) {
    .pm__summary-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .pm__summary-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .pm__summary-container {
        .pm__summary-list {
            height: auto;
            flex-direction: row;
            ul {
                max-width: 100%;
            }
            li {
                margin-bottom: 10px;
            }
        }
    }
    

    /* Customizing feature component as per needs */
    .pm__summary-feature .pm__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .pm__summary-heading  {
        padding: 0;
        h1 {
            font-size: 28px;
            line-height: 40px;    
        }
        p {
            font-size: 15px;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    
}