.pm__navbar {
    top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 1rem;
}

.pm__navbar-links {
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.pm__navbar-links_logo {
    margin-right: 2rem;
    margin-left: 1rem;
    img {
        width: 80px;
        max-height: 80px;
    }
}

.pm__navbar-links_container {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1rem;
    a {
        &:hover {
            color:var(--color-accent-red);
        }
        &.active {
            color: var(--color-accent-red);
        }
    }
}

.pm__navbar-links_container p,
.pm__navbar-menu_container p {
    color: black;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 25px;
    cursor: pointer;
    margin: 0 1rem;
}

.pm__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.pm__navbar-menu svg {
    cursor: pointer;
}

.pm__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-accent-red);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);

    a {
        &:hover {
            color:var(--color-blue-dark);
        }
        &.active {
            color: var(--color-blue-dark);
        }
    }
}

.pm__navbar-menu_container p {
    margin: 1rem 0;
    color: white;
}

.pm__navbar-menu-_container-links {
    display: none;
}

@media screen and (max-width: 1050px) {
    .pm__navbar-links_container {
        display: none;
    }
    .pm__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .pm__navbar {
        padding: 2rem 4rem;
    }
    .pm__navbar-links_logo {
        margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .pm__navbar {
        padding: 2rem;
    }
}


