.pm__contact {
    padding: 0 5rem 10rem 5rem;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(202, 213, 147, 0.2);
    @media screen and (max-width:1050px) {
        flex-direction: column;
        padding: 0 1rem 10rem 1rem;
    }
    @media screen and (max-width: 650px) {
        padding: 1rem;
    }
}
.contact-form {
    font-family: var(--font-family);
    width:40%;
    margin-top: 3rem;
    margin: clamp(5px, 5rem, 100px);
    //display: flex;
    
    ul {
        
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        li {
            width: 100%;
            padding: 0;
            margin: 1rem 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            //display: block;
            //flex-wrap: wrap;
            opacity: 0;
             //position: relative;
            animation: fadeInUp 0.8s 0.1s;
            animation-fill-mode: forwards;
            clear: both;
        }

   
    }

    input[type='text'],
    input[type='email'] {
        font-family: var(--font-family);
        width: 100%;
        border: 0;
        background: #FFFFFF;
        border: 1px solid var(--color-blue-dark);
        height: 50px;
        font-size: 16px;
        color: black;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    textarea {
        font-family: var(--font-family);
        width: 100%;
        background: #FFFFFF;
        height: 50px;
        font-size: 16px;
        color: black;
        padding: 20px;
        min-height: 200px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid var(--color-blue-dark);
    }

    .flat-button {
        font-family: var(--font-family);
        color: #FFFFFF;
        //position: absolute;
        background: var(--color-accent-red);
        letter-spacing: 1px;
        text-decoration: none;
        width: 8rem;
        padding: 8px 10px;
        border: 2px solid #FFCACA;
        border-radius: 12px;
        transition: 0.3s;
        //align-content: right;
        &:hover {
            background: transparent;
            color: #333;
            cursor:pointer;
        }
    }

    @media screen and (max-width:1050px) {
        width: 100%;
    }
    
}

.contact-form_content {
    font-family: var(--font-family);
    opacity: 0;
        //position: relative;
    animation: fadeIn 0.8s 0.1s;
    animation-fill-mode: forwards;

    display: flex;
    flex-direction: column;
    margin: 3rem;
    width: clamp(350px, 30vw, 800px);
    h1 {
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 4rem;
        text-align: center;
    }
    p {
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
    }
}